section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
}

input {
    background-color: #f0f0f0;
    border: none;
    height: 30px;
    margin-bottom: 20px;
    outline: none;
    padding: 5px 10px;
    width: 200px;
}

input:focus {
    outline: none;
}

.button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    margin-bottom: 5px;
    width: 100px;
}

#registration {
    border-bottom: #000 solid 1px;
    color: #000;
    text-decoration: none;
}

footer {
    bottom: 0;
    height: 129.2px;
    position: absolute;
    width: 100%;
}