body, p {
    margin: 0;
}

nav {
    align-items: center;
    box-shadow: 0 0 10px 5px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

.title_nav, .link_nav {
    color: #000;
}

.link_nav {
    border-bottom: 1px solid #000;
    margin-right: 30px;
}

.button_nav {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    margin-bottom: 5px;
    width: 100px;
}

footer, .link_footer {
    color: #fff;
}

footer {
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.bloc {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    width: 300px;
}

.title_footer {
    margin-bottom: 10px;
    font-size: 25px;
}

.information {
    font-size: 15px;
    margin-top: 5px;
}

.link_footer {
    color: #fff;
    text-decoration: none;
}

img {
    width: 20px;
    margin-right: 5px;
}